.Button
  background-color: #02bb52 !important
  color: #fff !important
  width: 250px
  transition: 0.5s

.Button:hover
  background-color: #047535 !important

.MenuBody
  display: flex
  flex-direction: column
  gap: 15px
  padding: 15px
  .MenuBody::-webkit-scrollbar 
    width: 0px


.Menu
  display: flex
  flex-direction: column
  align-items: center




