.CardBody
  width: 98%
  height: clamp(3.75rem, 3.542rem + 0.926vw, 4.375rem)
  display: flex
  flex-direction: row
  gap: 10px
  background-color: #EEF3F7
  border-radius: 8px
  align-items: center
  justify-content: center
  cursor: pointer
  flex-basis: 0
  flex-grow: 1
  box-shadow: 5px 5px 10px 5px rgba(195, 195, 195, 0.5)

  p
    width: clamp(3.125rem, 1.042rem + 9.259vw, 9.375rem)


.CardBody:hover
    background-color: #c9c9c9
    width: 100%
    transition: 0.3s

  
.Image
  width: 50px
  height: 50px
  margin: 0px
  img
    width: 100%
    height: 100%
    border-radius: 15px



